/* Global reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /* Ensures padding and border are included in element's total width and height */
}

body {
  background: rgb(5, 4, 74); /* Fallback for older browsers */
  background: radial-gradient(circle, rgba(147, 130, 188, 1) 0%, rgba(24, 61, 155, 1) 100%);
  font-family: "Comic Neue", cursive;
  font-weight: 400;
  font-style: normal;
  color: white;
}

button {
  cursor: pointer;
  color: #04202c;
  background-color: #c9d1c8;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-family: inherit;
}

.app {
  max-width: 600px;
  margin: auto;
  padding-top: 50px;
}

.input-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgba(0, 0, 0, 0.3);
}

.to-do-input input[type="text"] {
  width: 250px;
  padding: 10px;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  outline: none;
}

.to-do-input button {
  color: #5b7065;
  padding: 10px 20px;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-family: inherit;
}

.to-do-list {
  margin-top: 20px;
}

.to-do-list i {
  color: #c9d1c8;
  cursor: pointer;
}

.to-do-list .fa-pen-to-square {
  color: #5b7065;
}

.item {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.input-controller {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.input-controller textarea {
  flex: 1; /* Takes up remaining space */
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  font-size: 1rem;
  font-family: inherit;
  resize: none;
  transition: box-shadow 0.3s ease;
}

textarea:focus {
  box-shadow: 0 0 5px white;
}

@media (max-width: 768px) {
  .app {
    width: 95%;
    text-align: center;
  }

  .input-header {
    flex-direction: column;
    padding-bottom: 20px;
  }

  .to-do-input {
    flex-direction: column;
    align-items: center;
  }

  .to-do-input input[type="text"] {
    width: 100%;
    max-width: 300px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
}
